.modal {
  position: fixed;
  background-color: rgba($color: #000, $alpha: 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
    object-fit: cover;
  }
  button {
    position: absolute;
    right: 80px;
    top: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}