.search {
  margin: 0 auto;
  margin-bottom: 40px;
  background: #fff;
  max-width: 360px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  button {
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 5px 18.5px 18.5px 5px;
    border: 1px solid #fff;
    background: #FF4646;
    color: #fff;
    transition: all .2s ease-in-out;
    &:hover {
      background: #d83c3c;
    }
  }

  @media (max-width: 375px) {
    max-width: 290px;
    margin-bottom: 20px;
  }
}

.searchBlock {
  display: flex;
  align-items: center;
  height: inherit;
  svg {
    margin: 12px;
    transform: translateY(-1px);
  }
  input {
    font-size: 13px;
    font-weight: 400;
    color: #4a4a44;
    padding: 10px 0 12px;
    width: 250px;
    border: none;
    &:focus {
      outline: none;
    }

    @media(max-width: 375px) {
      padding: 5px 0 6px;
      font-size: 11px;
      width: 180px;
    }
  }
}