.modal {
  position: fixed;
  background-color: rgba($color: #000, $alpha: 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
  animation: .3s ease-in revealing;
  display: grid;
  place-items: center;

  img {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    max-width: 70dvw;
    max-height: 80dvh;
    object-fit: cover;
  }
  button {
    position: absolute;
    right: 80px;
    top: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.image-wrapper {
  position: relative;
  padding: 10px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .modal {
    button {
      top: 30px;
      right: 40px;
    }
  }
}
@media (max-width: 425px) {
  .modal {
    button {
      top: 130px;
      right: 10px;
    }
  }
}

@media (max-width: 320px) {
  .modal {
    button {
      top: 150px;
      right: 10px;
    }
  }
}

@keyframes revealing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}