.search {
  position: relative;
  background: #fff;
  border: 1px solid #FF4646;
  max-width: 360px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  
  form {
    display: flex;
    align-items: center;
  }

  @media (max-width: 375px) {
    max-width: 290px;
    margin-bottom: 20px;
  }
}

  .svg {
    margin: 12px;
    transform: translateY(-1px);
  }
  .input {
    font-size: 13px;
    font-weight: 400;
    color: #4a4a44;
    padding: 10px 0 12px;
    width: 250px;
    border: none;
    border-radius: 0 25px 25px 0;
    &:focus {
      outline: none;
    }

    @media(max-width: 375px) {
      padding: 5px 0 6px;
      font-size: 11px;
      width: 180px;
    }
  }

.delete {
  margin-inline: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 22px;
  height: 22px;
  animation: revealing .25s ease-in-out;
}

@keyframes revealing {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

