body {
  background: #FF4646;
  padding-top: 115px;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 0;
}

.descr {
  max-width: 1100px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 22px;
  text-align: center;
  font-size: 18px;
  line-height: 20px; 
}

.heading {
  color: #675656;
  font-weight: 700;
  font-size: 35px;
  line-height: 39px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 15px;  
}

@media(max-width: 425px) {
  body {
    padding-top: 40px;
  }
  .descr {
    font-size: 12px;
  }
  .heading {
    font-size: 22px;
  }
}